.map-container {
    height: 100%;
    width: 100%;

    position: absolute;
}

.dashboard-card {
    width: 120px;
}

.range-container {
    width: 100%;
    bottom: 60px;
    position: absolute;

    padding: 0rem 4rem;
}