<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      {{selectedLatitude.toFixed(2)}}, {{selectedLongitude.toFixed(2)}}  
    </ion-toolbar>
  </ion-header>
  <div #mapContainer class="map-container">

  </div>

  <ion-card class="dashboard-card">
    <radial-aurora [auroraValue]="auroraValue">
        
    </radial-aurora>
  </ion-card>

  <div class="range-container ion-padding">
      <ion-label class="time">{{selectedTime.toLocaleDateString('en-US', {
        month: 'short',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        hour12: true
      })}}</ion-label>
    <ion-range labelPlacement="stacked" class="range"
    [(ngModel)]="rangeValue"
    [min]="0"
    [max]="100"
    [step]="0.5"
    (ionInput)="onSliderChange()"></ion-range>
  </div>
  
  
</ion-content>
