<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="forecast" href="/tabs/forecast">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Forecast</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
